{% extends '::base.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="prefix_1">
            <h2>Mot de passe oublié</h2>

            <p>
                Un email vient de vous être envoyé avec les instructions pour générer un nouveau mot de passe. <br/>
                Veuillez consulter votre boite mail pour accéder à nouveau à votre compte.
            </p>
        </div>
    </div>
{% endblock %}
