{% extends '::base.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="prefix_1">
            <h2>Re-initialisation du mot de passe</h2>

            <form class="form-horizontal" action="{{ url('flair_user_password_reset', { 'token' : token } ) }}" method="post">

                {{ form_rest(form) }}

                <div class="controls">
                    <input type="submit" id="_submit" class="btn orange" name="_submit" value="Changer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
