{% extends '::base.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="prefix_1">
            <h2>Re-initialisation du mot de passe</h2>

            <p>
                Votre mot de passe a été re-initialisée. <br/>
                Vous pouvez desormais vous connecter avec votre nouveau mot de passe.
            </p>
        </div>
    </div>
{% endblock %}
