{% extends '::base.html.twig' %}

{% block body %}
    <div class="inner">

        <div class="hp-faq">
            <h2>Mentions légales</h2>

            <p>
                Le présent site est la propriété de Frogmood, Société à responsabilité limitée, au capital de
                5000 €, immatriculée au RCS de Paris sous le numéro 513 528 190, dont le siège social est
                situé au 10 rue Versigny 75018 Paris – Numéro TVA : FR27513528190

            </p>

            <p>
                Le Directeur de la publication du site est Madame Capucine SURREL, en qualité de gérante
                de la société Frogmood.
            </p>

            <p>
                Le prestataire assurant l'hébergement du site, ainsi que le stockage des informations, est la
                société, OVH située au 2 rue Kellermann, 59100 Roubaix, France.
            </p>
        </div>
    </div>
{% endblock %}
