{% extends 'FlairPrestataireBundle::propositions.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Questions/Réponses
        </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('Homepage')}}">Accueil</a></li>
              <li>Questions/Réponses</li>

              <div class="btn-bar" style="float:right">
                  <a onClick="window.history.go(-1);">
                  <i class="fa fa-undo"></i>
                      Retour
                  </a>
                  <div class="corner"></div>
              </div>
          </ol>
      </div>
  </div>

        <div style="margin-bottom: 20px">
            <a class="btn btn-warning" href="{{ url("Prestataire_propositions_questions_poser", {id: reponse.id}) }}">Poser une question</a>
        </div>

        <table class="table table-bordered table-striped">
            <tr style="font-size: 22px">
                <th style="width: 80%">Sujet</th>
                <th>Action</th>
            </tr>

            {% for question in questions %}
            <tr>
                <td>{{ question.titre }}</td>
                <td><a href="{{ url("Prestataire_propositions_questions_afficher", {id: question.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Voir</a> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
