{% extends 'FlairPrestataireBundle::propositions.html.twig' %}

{% block body %}
    <div class="inner">

        <div style="margin-bottom: 20px">
            <a class="btn orange" href="{{ url("Prestataire_propositions_questions_poser", {id: reponse.id}) }}">Poser une question</a>
        </div>

        <table style="width: 100%">
            <tr style="font-size: 22px">
                <th style="width: 80%">Titre</th>
                <th>Action</th>
            </tr>

            {% for question in questions %}
            <tr>
                <td>{{ question.titre }}</td>
                <td><a href="{{ url("Prestataire_propositions_questions_afficher", {id: question.id}) }}">Voir</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
