{% extends 'FlairPrestataireBundle::propositions.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Questions/Réponses
          </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('Homepage')}}">Accueil</a></li>
              <li>Questions/Réponses</li>

              <div class="btn-bar" style="float:right">
                  <a onClick="window.history.go(-1);">
                  <i class="fa fa-undo"></i>
                      Retour
                  </a>
                  <div class="corner"></div>
              </div>
          </ol>
      </div>
  </div>


    {% include 'FlairOrganismeBundle:Consultations:partials/summary.html.twig' with {'consultation' : reponse.consultation } %}
    <h2 class="title grey">Poser une question <br><span class="required" style="font-size:9px;">* Champs obligatoires</span></h2>

    <form action="{{ url('Prestataire_propositions_questions_poser', {'id' : reponse.id } ) }}" method="post" class="form-horizontal">
        {{ form_rest(form) }}

        <div class="controls">
            <input type="submit" value="Envoyer" class="btn btn-warning"/>
        </div>
    </form>
</div>
{% endblock %}
