{% extends '::base.html.twig' %}

{% if is_granted('ROLE_ORGANISME') %}
    {% set active = constant('Flair\\OrganismeBundle\\FlairOrganismeBundle::MON_COMPTE') %}
{% else %}
    {% set active = constant('Flair\\PrestataireBundle\\FlairPrestataireBundle::MON_COMPTE') %}
{% endif %}


{% block body %}

    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Mon compte
              </h1>
              <ol class="breadcrumb">
                  <li><a href="{{url('Homepage')}}">Accueil</a>
                  </li>
                  <li class="active">Modification du mot de passe</li>

                  <div class="btn-bar" style="float:right">
                    <a href="{{ url('flair_user_profil_see') }}"><i class="fa fa-undo"></i> Retour</a>
                      <div class="corner"></div>
                  </div>
              </ol>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="tableaudebord">
            <div class="panel panel-info">
                <div class="panel-title">Modification du mot de passe <br><span style="font-size:12px"class="required">* Champs obligatoires</div>

              </div>
            </div>
    <form action="{{ url('flair_user_profil_password') }}" method="post" class="form-horizontal">
        {{ form_rest(form) }}

        <div class="controls">
            <input class="btn btn-warning" name="publier" type="submit" value="Enregistrer" />
        </div>
    </form>
    </div>
    </div>
</div>
{% endblock %}
