@colorLightGrey: #646462;
@colorMiddleGrey: #ababab;
@colorStrongGrey: rgb(102, 102, 102);
@colorOrange: rgb(255, 151, 53);
@colorLightOrange: rgb(255,169,53);
@colorPink: #E73469;
@colorRed: #ea1c00;
@colorGreen: #3fb44f;
@colorGreyTextFooter: #d2d2d2;
