<p>Bonjour,</p>

<p>
    Votre demande d’inscription a bien été prise en compte. Pour confirmer la validité de votre email veuillez cliquer
    <a href="{{ url('flair_user_confirmation_email', { 'token' : tokenUrl } ) }}">ici</a>
</p>

<p>
    Cordialement, <br/>
    L'équipe Mise-en-concurrence
</p>
