<p>Bonjour,</p>

<p>
    Félicitation votre inscription a bien été prise en compte. Pour rappel, votre identifiant est {{ receiver.email }}.
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>
