<p>Bonjour,</p>

<p>
    L'entreprise "{{ receiver.nom }}" a validé son inscription sur le site mise-en-concurrence.com
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>

