Bonjour,

Je  vous invite à vous inscrire sur le site « mise-en-concurrence.com » en cliquant sur le lien suivant <a href="{{ url('flair_user_invitation_accept', {'token': invitation.token } ) }}">S'inscrire</a>.
Mise-en-concurrence.com est une application de gestion et de suivi en ligne des consultations et une plateforme de mise en relation entre des acheteurs publics (principalement) et des prestataires. Elle vise à simplifier et optimiser notre  processus de consultation.
En vous inscrivant,  vous recevrez mes consultations mais  également celles des autres utilisateurs dès lors que leur recherche de compétence correspondra à  votre secteur d’activité.
Je vous remercie de votre participation.

Cordialement,
{{ invitation.organisme.prenomContact }} {{ invitation.organisme.nomContact }}
{{ invitation.organisme.nom }}