<p>Bonjour,</p>

<p>
    Veuillez cliquer sur le lien ci-dessous pour ré-initialiser votre mot de passe :
    <a href="{{  url('flair_user_password_reset', { 'token' :  token } ) }}">ré-initialiser mon compte</a>.
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>
