@import url(http://fonts.googleapis.com/css?family=Signika);
body {
  margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  font-family: "Signika", sans-serif;
  color: #555;

}

.container {
  width: 86%;
}

a {
  color: #e73469;
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#555;
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #555;
  font-weight: bold;
  background-color: #ffcc66;
  text-decoration: none;
  font-size: 14px;
  padding: auto;
}

.btn:hover {
  background-color: #ffcc66;
  color:#555;
}
.btn.bold {
  font-weight: bold;
}
.btn.big {
  padding: 15px 30px;
  font-size: 25px;
}
.btn.orange {
  color: #555;

}
.btn.orange:hover {
  background-color: #ffcc66;
}
.btn.pink {
  background-color: #E73469;
}
.btn.white {
  background-color: white;
  color: #E73469;
}
.btn.disabled {
  background-color: gray;
  color: lightgray;
  cursor: not-allowed;
}
.btn.disabled:hover {
  background-color: gray;
  color: lightgray;
}
.btn.no-radius {
  border-radius: 0;
}
.btn.black {
  color: #555;
}
.btn.bold {
  font-weight: bold;
}
.btn.add {
  border: 1px solid #666;
}
.btn.add span.plus {
  font-size: 20px;
}
.btn-reflate {
  width: 90px;
  height: 30px;
  text-align: center;
  border: 1px solid #666;
  background: #ffcc66;
  color: #555;
  margin-bottom: 5px !important;
}
.pagination a:hover {
  cursor: pointer;
}
.paginate_button,
.paginate_active {
  padding: 0 5px;
  font-size: 15px;
  color: #646462;
}
span .paginate_button,
span .paginate_active {
  font-style: italic;
}
.paginate_active {
  color: #ffcc66;
}
.pagination-list {
  width: 170px;
  font-size: 15px;
}
.pagination-pages {
  width: 350px;
  margin-left: 280px;
}
.pagination-bottom {
  margin-top: 10px;
}
.pagination-bottom .pagination-list,
.pagination-bottom .pagination-pages {
  float: left;
  line-height: 21px;
}
.form-cpt {
  display: table-cell;
}
.sub {
  margin: 4% 0 0 45%;
}
.sub a {
  font-size: 1.4em;
}
.sub input {
  margin-left: 10%;
  font-size: 1.4em;
}
.form-horizontal .control-group {
  margin-bottom: 18px;
  position: relative;
}
.form-horizontal .control-group.toggleShow {
  padding-left: 200px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}
.form-horizontal .control-group.toggleShow .ui-icon {
  text-align: center;
  margin-left: 116px;
  margin-top: 5px;
}
.form-horizontal .control-group .categories {
  float: left;
  margin-top: 13px;
  margin-left: 10px;
  font-style: italic;
}
.form-horizontal .control-label {
  text-align: right;
  width: 196px;
}
.form-horizontal .controls {
  margin-left: 200px;
}
.form-horizontal .controls .toggleShow {
  width: 73px;
  text-align: center;
}
.form-horizontal .controls .ckeditor-help-inline {
  display: block;
  padding-left: 0px;
  margin-top: 10px;
  font-style: italic;
}
.form-horizontal .controls .help-inline {
  padding-left: 10px;
  font-style: italic;
}
.form-horizontal .controls.file-input {
  line-height: 18px;
  padding: 8px;
  height: 18px;
}
.form-horizontal .cke_bottom {
  display: none;
}
.form-horizontal textarea,
.form-horizontal input[type="text"],
.form-horizontal input[type="password"],
.form-horizontal input[type="datetime"],
.form-horizontal input[type="datetime-local"],
.form-horizontal input[type="date"],
.form-horizontal input[type="month"],
.form-horizontal input[type="time"],
.form-horizontal input[type="week"],
.form-horizontal input[type="number"],
.form-horizontal input[type="email"],
.form-horizontal input[type="url"],
.form-horizontal input[type="search"],
.form-horizontal input[type="tel"],
.form-horizontal input[type="color"],
.form-horizontal select,
.form-horizontal .chzn-single {
  height: 34px;
  padding: 6px 12px;
  margin: 2px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-horizontal textarea.large,
.form-horizontal input[type="text"].large,
.form-horizontal input[type="password"].large,
.form-horizontal input[type="datetime"].large,
.form-horizontal input[type="datetime-local"].large,
.form-horizontal input[type="date"].large,
.form-horizontal input[type="month"].large,
.form-horizontal input[type="time"].large,
.form-horizontal input[type="week"].large,
.form-horizontal input[type="number"].large,
.form-horizontal input[type="email"].large,
.form-horizontal input[type="url"].large,
.form-horizontal input[type="search"].large,
.form-horizontal input[type="tel"].large,
.form-horizontal input[type="color"].large,
.form-horizontal select.large,
.form-horizontal .chzn-single.large {
  width: 500px;
}
.form-horizontal textarea.bigInput,
.form-horizontal input[type="text"].bigInput,
.form-horizontal input[type="password"].bigInput,
.form-horizontal input[type="datetime"].bigInput,
.form-horizontal input[type="datetime-local"].bigInput,
.form-horizontal input[type="date"].bigInput,
.form-horizontal input[type="month"].bigInput,
.form-horizontal input[type="time"].bigInput,
.form-horizontal input[type="week"].bigInput,
.form-horizontal input[type="number"].bigInput,
.form-horizontal input[type="email"].bigInput,
.form-horizontal input[type="url"].bigInput,
.form-horizontal input[type="search"].bigInput,
.form-horizontal input[type="tel"].bigInput,
.form-horizontal input[type="color"].bigInput,
.form-horizontal select.bigInput,
.form-horizontal .chzn-single.bigInput {
  height: 90px;
  width: 380px;
}

.form-horizontal input[type=submit],
.form-horizontal button {
  border: 0;
  padding: 8px 15px;
  display: inline-block;
}

input[type=text]{
  width: 386px;
}

input[type=checkbox], input[type=radio] {
    margin: 8px 7px 0;

}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
   position: relative;
    margin-top: 4px\9;
    margin-left: 20px;
}

.form-horizontal label {
  font-size: 13px;
  padding-top: 13px;
  float: left;
  display: block;
  color: #555;
}
.form-horizontal radio {
  cursor: pointer;
  margin-right: 12px;
}

.form-horizontal label.radio {
  cursor: pointer;
  margin-right: 34px;
}
.form-horizontal .form-error {
  font-weight: bold;
  font-style: italic;
  color: #ea1c00;
}
.form-horizontal .error-list {
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #ea1c00;
  list-style: none;
  margin: 0;
  padding: 0;
}
.required-flag {
  color: red;
}

body #global-container {
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 86%;
  margin: 0 auto -100px;
}
body .select2-selection--multiple {
  width: 250px;
}
body .select2-search__field {
  padding: 0 !important;
}
body .error {
  color: red;
}
body .center {
  text-align: center;
}
body .right-align {
  text-align: right;
}
body .ckeditorView {
  width: 450px;
}
body span.collapsable {
  height: 1.2em;
  overflow: hidden;
}
body span.collapsable.open {
  overflow: visible;
  height: 100%;
}
body span.ckeditorView > p:first-of-type {
  margin-top: 0px;
  padding-top: 0px;
}
body span.ckeditorView > p:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
body .file-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body .icon {
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
body .no-margin {
  margin: 0 !important;
}
body .popup_modify {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  clear: both;
  padding-bottom: 175px;
  z-index: 10;
}
body .popup_modify .popup {
  width: 600px;
  height: 380px;
  background: white;
  margin: 0 auto;
  top: calc(70% - 270px);
  left: 0;
  right: 0;
  position: absolute;
}
body .popup_modify .popup .relativePopupContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
body .popup_modify .popup .relativePopupContainer .bandeau {
  background: #ffcc66;
  color: white;
  text-align: center;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
}
body .popup_modify .popup .relativePopupContainer a {
  position: absolute;
  bottom: 20px;
  right: 72px;
  width: 130px;
}
body .popup_modify .popup .relativePopupContainer a:hover {
  background: #666666;
}
body .popup_modify .popup .relativePopupContainer .close {
  width: 48px;
  height: 48px;
  background: #ababab;
  cursor: pointer;
  color: white;
  line-height: 44px;
  text-align: center;
  font-size: 36px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: 100;
}
body .popup_modify .popup .relativePopupContainer .close:hover {
  background: #666666;
}
body .popup_modify .popup .relativePopupContainer .conseils {
  padding: 20px;
  font-size: 14px;
}
body .popup_modify .popup .relativePopupContainer .progression {
  height: 24px;
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100% - 80px);
}


h1,
h2,
h3,
h4,
h5 {
  font-family: "Signika", sans-serif;
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 41px;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 15px;
  font-family: "Signika", sans-serif;
  font-weight: bold;
}
#inscription h2 {
  margin-bottom: 20px;
}
#login-form div.error {
  color: red;
  margin-left: 200px;
}
.prestataires-filter {
  min-height: 45px;
  padding: 24px 2%;
  overflow: hidden;
}
.prestataires-filter .prices {
  margin-right: 24px;
}
.prestataires-filter div {
  width: 100%;
  display: inline-block;
}
.prestataires-filter label {
  margin-right: 15px;
}
.prestataires-filter .row {
  width: 100%;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}
.prestataires-filter .filter {
  margin-right: 25px;
  margin-bottom: 10px;
  color: #555;
}
.prestataires-filter .filter > span {
  width: 100px;
  display: inline-block;
}
.prestataires-filter .filter .control-label {
  width: 115px;
  display: inline-block;
}
.prestataires-filter .filter.right {
  text-align: right;
}
.prestataires-filter .filter.and {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}
.prestataires-filter .filter.inline-block {
  display: inline-block;
}
.prestataires-filter .filter select {
  height: 34px;
  width: 330px;
  padding: 6px 12px;
  margin: 2px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.prestataires-filter .filter .end-date {
  margin-top: 10px;
}
.left-filters {
  float: left;
  margin-top: 5px;
}
.right-filters {
  margin-left: 50px;
  text-align: right;
}
.right-filters span {
  margin-right: 10px;
}
.right-filters .my-presta {
  text-align: left;
  width: 380px;
  float: left;
  margin-top: 5px;
}
.right-filters input,
.left-filters input {
  padding: 5px !important;
  width: 90px;
}
.right-filters input[type=checkbox],
.left-filters input[type=checkbox] {
  width: 20px;
}
.request-filter {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
h2.title {
  text-transform: uppercase;
  color: white;
  padding: 8px 0 8px 15px;
}
h2.title.orange {
  background-color: #ffcc66;
}
h2.title.grey {
  background-color: #666666;
}
.control-bar {
  margin-top: 50px;
  margin-left: 200px;
}
.account-infos {
  width: 980px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
}
.account-infos .left-infos,
.account-infos .right-infos {
  display: inline-block;
  vertical-align: top;
}
.stats {
  width: 100%;
  margin: 0 auto;
  border-top: 0px;
  margin-top: 20px;
  padding-top: 5px;
}
.stats ul {
  float: left;
}
.stats ul li {
  list-style-type: none;
  margin-top: 15px;
}
.stats #chart_div {
  float: right;
}
#noShow {
  position: absolute;
  left: 17%;
  text-align: center;
}
.line-show {
  margin: 20px 0;
}
.line-show .debordement {
  width: 400px;
}
.line-show > span {
  display: block;
  float: left;
  margin-left: 60px;
  word-break: break-word;
  width: 242px;
}
.line-show span.title {
  width: 110px;
  margin-left: 0;
  color: #777;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}
.line-show a.readMore,
.line-show a.readLess {
  text-decoration: none;
}
.line-show a {
  color: #0054ff;
}
.modify-account-action {
  margin: 40px 0 0 330px;
}
.hide {
  display: none;
}
.yes-no-questions {
  margin-left: 60px;
}
.my-requests form {
  margin-top: 20px;
}
.my-requests .inline-row {
  width: 33.33333%;
}
.my-requests .filter-submit {
  text-align: right;
  margin-right: 130px;
  margin-top: 12px;
}
.show-estimate-response {
  min-height: 200px;
}
.show-estimate-response,
.show-estimate-request {
  position: relative;
  padding-left: 5px;
}
.show-estimate-response .company-insert,
.show-estimate-request .company-insert {
  width: 50%;
  border: 1px solid #646462;
  padding: 8px;
  margin: 0;
  position: absolute;
  left: 840px;
  top: 51px;
}
.show-estimate-request ul {
  margin: 0;
}
.list-answers {
  margin-bottom: 60px;
}
.organism-information {
  margin-top: 40px;
}
.organism-information > h2 {
  margin-bottom: 20px;
}
.desc {
  line-height: 2;
  width: 80%;
  margin: 7% auto 0 auto;
  font-size: 1.1em;
}
.buyer {
  float: left;
  width: 42%;
  margin-right: 3%;
  background-color: #E73469;
  color: #555;
  padding: 2%;
}
.buyer > h2 {
  font-size: 3em;
}
.buyer a {
  color: #E73469;
}
.buyer .band {
  background: url('/images/bg_buy.jpg') no-repeat;
  background-position: 050%;
  background-size: 249%;
}
.presta {
  float: left;
  width: 42%;
  margin-left: 3%;
  background-color: #ffcc66;
  color: #555;
  padding: 2%;
}
.presta > h2 {
  font-size: 3em;
}
.presta a {
  color: #e73469;
}
.presta .band {
  background: url('/images/bg_presta.jpg') no-repeat;
  background-position: 050%;
  background-size: 249%;
}
.desc_prest {
  font-size: 1.5em;
  margin-top: 6%;
  margin-left: 20%;
  line-height: 1.6;
}
.presta_desc {
  margin-left: 12%;
  margin-right: 14%;
  margin-top: 5%;
}
.insc_prest {
  width: 100%;
  float: left;
  background-color: #ffcc66;
  color: #555;
  padding: 2%;
  margin-bottom: 5%;
}
.insc_prest > h2 {
  font-size: 3em;
}

.navbar-right {
  float: right!important;
  margin-right: 12px;
}

.navbar-inverse .navbar-brand {
  color: #555;
}

.insc_prest a {
  color: #e73469;
}
.insc_prest .band {
  background: url('/images/bg_presta.jpg') no-repeat;
  background-position: 050%;
  background-size: 249%;
}
.insc_prest .band .band-txt {
  font-size: 1.4em;
}
.insc_prest .band h3 {
  font-size: 1.9em;
}
.band {
  text-align: center;
  margin-top: 6%;
  padding: 2% 0 4% 0;
}
.band-txt {
  width: 65%;
  margin: auto;
}
.description {
  width: 88%;
  margin: 5% auto 0 auto;
}
.insc-btn {
  margin-top: 7%;
  margin-bottom: 3%;
  text-align: center;
}
.insc-btn > a {
  border: none;
  padding: 20px 60px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.84);
  text-decoration: none;
  font-size: 1.5em;
  font-family: Helvetica, sans-serif;
}
.insc-btn > a:hover {
  background-color: #fff;
}
.title-table {
  float: left;
  background: #ffcc66;
  height: 48px;
  line-height: 49px;
  overflow: hidden;
  position: relative;
  margin: 6% 0 3% 0;
  width: 100%;
}
.title-table h2.left-bar {
  float: left;
  color: white;
  width: 460px;
  position: relative;
  margin-left: 30px;
  font-weight: 100;
  font-size: 22px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 5;
}
.title-table .corner {
  width: 50px;
  height: 65px;
  position: absolute;
  left: 460px;
  top: -12px;
  background: #ffcc66;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  border-radius: 10px;
}
.title-table .btn-bar {
  width: 590px;
  float: right;
  height: 100%;
  background: #666666;
}
.title-table .btn-bar.right {
  text-align: right;
}
.title-table .btn-bar.right a {
  margin-right: 5px;
  color: #555;
}
.title-table .btn-bar .plus {
  font-size: 20px;
}
.user-infos {
  margin-top: 20px;
}
.user-infos .divided:first-child {
  margin-right: 10%;
}
input[type="text"].search {
  border: 1px solid #434242;
  padding: 8px 0px 8px 35px;
  background: url('/images/picto-search.png') 8px center no-repeat #565555;
  color: white;
  font-style: italic;
  font-size: 15px;
  border-width: 1px 2px;
}
.half-left {
  width: 49%;
  float: left;
}
.half-right {
  width: 49%;
  float: right;
}
.half-right .line-show > span.title,
.half-left .line-show > span.title {
  margin-left: 0px;
  padding-left: 0px;
  width: 200px;
}
.menu-nav {
  width: 179px;
  float: left;
  margin-top: 15px;
  border: 1px solid #eee;
  color: #666666;
  cursor: pointer;
  margin-right: 10px;
}
.menu-nav.menu-step {
  width: 168px;
}

.menu-nav .item {
  height: 64px;
  background: none;
  text-transform: uppercase;
  padding: 10px 5px 10px 0px;
  text-align: right;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}

.menu-nav .item.active {
  font-weight: bold;
  cursor: default;
  color: #555;
  background: #ffcc66;
}
.menu-nav .item .step {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 24px;
  font-weight: normal;
}
.menu-nav .item .step-big {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 40px;
  font-weight: normal;
}
.menu-nav .item .text {
  float: right;
  width: 150px;
}
.menu-nav .item:last-child {
  border-bottom: none;
  height: 42px;
}
.menu-prestataires {
  padding-left: 0;
  margin-top: 20px;
  position: relative;
}
.menu-prestataires .date {
  position: absolute;
  right: 5px;
  top: 1 0 px;
  font-size: 18px;
  font-weight: lighter;

  color: #555;
}
.menu-prestataires div {
  display: inline-block;
  height: 46px;
  border: 1px solid #666;
  border-bottom: none;
  width: 178px;
  cursor: pointer;
  line-height: 46px;
  text-align: center;
  color: #555;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  background: #dddddd;
  margin-left: -4px;
}
.menu-prestataires div.active {
  background: #dddddd;
  border-bottom: none;
  background: white;
}
.menu-prestataires div:first-child {
  border-left: 1px solid #666;
  border-right: none;
  margin-left: 0;
}
.menu-prestataires div:last-child {
  border-right: 1px solid #666;
  border-left: none;
  margin-left: -4px;
  border-left: 1px solid #666;
}
.block-reponse {
  float: left;
  height: 100%;
  padding: 0 10px 20px 10px;
  border: 1px solid #666;
}
.block-reponse .proposition-date {
  margin-left: 180px;
}
.block-reponse #devis .consultation-documents {
  width: 600px;
  border-left: 1px solid #666;
  margin-top: 30px;
  border-right: 1px solid #666;
}
.block-reponse .consultation-content {
  width: 866px;
  min-height: 400px;
  padding-bottom: 20px;
}
.block-reponse div.controls {
  margin-left: 12px;
  float: left;
}
.block-reponse div.controls.menu {
  margin: 30px 12px;
}
.block-reponse div.controls.menu a {
  margin-left: -4px;
}
.block-reponse div.controls.menu a:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.block-reponse div.controls.menu a:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #dddddd;
}
.block-reponse div.controls.menu-upload {
  margin: 30px 12px;
}
.block-reponse div.controls.menu-upload a {
  margin-left: -4px;
}
.block-reponse div.controls.menu-upload a:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #dddddd;
  border: 1px solid #666;
}
.block-reponse div.controls.menu-upload a:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.consultation-content {
  float: left;
  margin: 15px 0;
  border: 1px solid #ddd;
  padding:30px;
  width: 950px;
}
.consultation-content #lignesDevis {
  width: 98%;
  margin-left: 1%;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  margin-top: 100px;
}
.consultation-content #lignesDevis td {
  padding-left: 0;
}
.consultation-content div.titre {
  margin: 10px;
  color: #555;
  font-size: 24px;
  text-transform: uppercase;
}
.consultation-content div.titre span {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-left: 20px;
  text-transform: none;
}
.consultation-content .reponse-organisme {
  margin-top: 10px;
}
.consultation-content .back {
  float: right;
  color: #555;
  margin: 10px 10px 0 0;
}
.consultation-content .menu-tab {
  height: 56px;
  border-bottom: 1px solid #666;
  position: relative;
}
.consultation-content .sub-menu .item {
  float: left;
  width: 292px;
  text-align: center;
  color: #555;
  background: #eeeeee;
  height: 34px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 28px;
  text-decoration: none;
}
.consultation-content .menu-tab .item.answers {
  border: 1px solid #666;
  border-top: none;
}
.consultation-content .menu-tab .item.answers img {
  float: none !important;
  padding: 0;
  margin-left: 5px;
}
.consultation-content .menu-tab .item.active {
  overflow: hidden;
  height: 57px;
  background: white;
  border-bottom: 0;
}
.consultation-content .menu-tab .date {
  position: absolute;
  right: 5px;
  top: 20px;
  font-size: 18px;
  font-weight: lighter;

}

.consultation-content .sub-menu .item.active {
  background: #ffcc66;
  cursor: default;
}
.consultation-content .sub-menu .item:last-child {
  border-right: none;
  width: 300px;
}
.consultation-content form {
  margin-top: 80px;
}
.consultation-content .ckedit {
  width: 500px;
}
.consultation-content .separate {
  width: 98%;
  background: #666;
  height: 1px;
  margin: 40px 0 30px 1%;
  clear: both;
}
.consultation-content .cancel {
  float: right;
  margin-right: 10px;
}
.consultation-content .js_draft {
  margin: 0 10px;
}
.consultation-content .next {
  color: #555;
  border: 1px solid #666 !important;
  width: 100px;
  display: inline-block;
  text-align: center;
}
.consultation-content .consultation-documents,
.consultation-content .consultation-publication {
  width: 100%;
  border-right: none;
  border-left: none;
  margin: 0;
  box-shadow: none;
}
.consultation-content .consultation-documents #document_form_type_document {
  max-width: 250px;
}
.consultation-content .info-line {
  margin: 40px 0px 20px 10px;
  color: #555;
}
.consultation-content h2.add-document {
  font-size: 16px;
  font-weight: lighter;
  margin-left: 10px;

  color: #555;
  margin-bottom: 20px;
}
.consultation-content h2.select-presta {
  font-size: 20px;
  margin: 10px;

  color: #555;
}
.consultation-content p.select-presta {
  color: #555;

  margin: 0 0 15px 10px;
}
.consultation-content p.info-date {
  margin: 20px 0px 10px 16px;
  font-style: italic;
}
.consultation-content textarea.big {
  width: 400px;
  height: 100px;
}
.consultation-content .form-step3 {
  margin-top: 10px;
  color: #555;
  position: relative;
  width: 100%;
}
.consultation-content .form-step3 .upload {
  margin-left: 23%;
  margin-top: 1.5%;
}
.consultation-content .actions {
  margin-top: 10px;
  margin-bottom: 30px;
  float: right;
  margin-right: 2%;
}
.consultation-content .actions .diffuse {
  color: #555;
  border: 1px solid #666;
  margin-left: 10px;
  margin-right: 10px;
}
.consultation-content .actions .diffuse.disabled {
  color: lightgray;
}
.consultation-content.follow {
  padding-bottom: 15px;
}
.consultation-content.follow .actions {
  margin-top: 40px;
}
.consultation-content.follow #sub-title {
  margin-left: 10px;
  float: left;
}



.required{
  color:red;
  font-weight: bold;
}

.header-image {
  display: block;
  width: 100%;
  padding:120px;
  margin-top: -1px;
  text-align: center;
  background: url('http://www.channelinsider.fr/wp-content/uploads/2011/08/Partner.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.logo{
  float: left;
  font-size: 40px;
  color:#575353;
  text-decoration: none;
  font-family: bodoni;
}

.logo:hover{
  text-decoration: none;
  color:#575353;
}

.headline {
  padding-top: 138px
}

.headline-titre {
    border-radius: 5px;
    height: auto;
    padding: 57px;
    margin-left: -10%;
    background: #fff;
    width: 119%;
    background: rgba(255,255,255,0.9);
}


.page-header {
  margin: 94px 0 20px;
}

.featurette-divider {
  margin: 47px 0;
}

.featurette {
  overflow: hidden;
}

.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
}
.featurette p{
  font-size: 16px;
  font-weight: bold;
}
.button_container {
  height: 40px;
  font-family: "Helvetica", sans-serif;
  font-size: 17px;
  text-align: right;
  margin-top: 2px;
  margin-right: -6px;

}

.button_container a {
  margin-left: 4px;
  color: #555;
  font-weight: bold;
}

.btn {
  line-height: 2.428571;
}
.hp-process{
  margin-left: 16%;
}

.hp-list {
  list-style-type: none;
  float: left;
  padding-left: 0;
}
.hp-list li {
  float: left;
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  width: 251px;
  text-align: center;
  padding-left: 60px;
  display: block;
  background-repeat: no-repeat
}
.hp-list li.separator {
  width: 60px;
  padding-left: 0px;
  background: url('../images/hp-list-separator.png') no-repeat;
}
.hp-first {
  background-image: url('../images/hp-first.png');
}
.hp-second {
  background-image: url('../images/hp-second.png');
}
.hp-third {
  background-image: url('../images/hp-third.png');
}
.hp-fourth {
  background-image: url('../images/hp-fourth.png');
}



/***
** Menu connexion
**/
.menuCo {
  background-color: #eee;
  border-color: #eee;
}

.menuCoNav li a:hover {
  color:#e73469;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color:#e73469;
}
.menuCoNav{
  color:#555;
}



/**
** CONNEXION & DECONNEXION
**/

.panel-info {
  border: none;
}

.panel-info>.panel-heading {
  color: #555;
  background-color: #ffcc66;

}
.panel-info>.panel-heading a {
  color: #555;
}

.panel-title {
  font-size: 22px;
}

.titleprghp {

  font-size: 18px;
  height: 46px;
  line-height: 40px;
  margin: 20px 0 20px;
  width: 98%;
  border-bottom: 1px solid #ccc;
}


footer {
  clear: both;
  color:#9d9d9d;
  background-color:  #eee;
  font-size: 15px;
  padding: 12px;
  padding-top:50px;
  bottom: 0px;
  margin-top: auto;
  position:relative;
}
footer a {
  color:#9d9d9d;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover{
  color:#e73469;
  text-decoration: none;

}
.text-muted {
  color: #e73469;
  font-weight: bold;
}

.list-inline {
  float: right;
}

@media(max-width:1200px) {

  .featurette-divider {
    margin: 50px 0;
  }

  .featurette-image.pull-left {
    margin-right: 20px;
  }

  .featurette-image.pull-right {
    margin-left: 20px;
  }

  .hp-list {
    padding: 12px;
    list-style-type: none;

  }

  .hp-list li {
    float: left;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    text-align: center;
    display: block;
    background-repeat: no-repeat;
  }
  .featurette p{
    font-size: 14px;
  }




}

@media(max-width:991px) {
  .headline h1 {
    font-size: 105px;
  }

  .headline h2 {
    font-size: 50px;
  }

  .featurette-divider {
    margin: 40px 0;
  }

  .featurette-image {
    max-width: 50%;
  }

  .featurette-image.pull-left {
    margin-right: 10px;
  }

  .featurette-image.pull-right {
    margin-left: 10px;
  }

  .featurette-heading {
    font-size: 30px;
  }
}

@media(max-width:768px) {
  .container {
    margin: 0 15px;
    width: 100%
  }

  .featurette-divider {
    margin: 40px 0;
  }

  .featurette-heading {
    font-size: 25px;
  }
}

@media(max-width:668px) {
  .headline h1 {
    font-size: 70px;
  }

  .headline h2 {
    font-size: 32px;
  }

  .featurette-divider {
    margin: 30px 0;
  }
}

@media(max-width:640px) {
  .headline {
    padding: 75px 0 25px 0;
  }

  .headline h1 {
    font-size: 60px;
  }

  .headline h2 {
    font-size: 30px;
  }
}

@media(max-width:375px) {
  .featurette-divider {
    margin: 10px 0;
  }

  .featurette-image {
    max-width: 100%;
  }

  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
