{% extends '::base.html.twig' %}

{% block body %}
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Mes prestataires</h1>
              <ol class="breadcrumb">
                  <li><a href="{{url('Homepage')}}">Accueil</a></li>
                  <li>Inviter un utilisateur</li>

                  <div class="btn-bar" style="float:right">
                  <a onClick="window.history.go(-1);" >
                  <i class="fa fa-undo"></i>
                      Annuler
                  </a>
                    <div class="corner"></div>
                  </div>
              </ol>
          </div>
      </div>
    <div class="col-lg-6">
    <span class="required">* Champs obligatoires</span>
    <form action="{{ url('flair_user_invitation_send') }}" method="POST" class="form-horizontal">
        {{ form_rest(form) }}

        <div class="controls">
            <input type="submit" value="Inviter" class="btn orange" />
        </div>
    </form>
    </div>
</div>
{% endblock %}
