{% extends '::base.html.twig' %}

{% block body %}
<div class="inner">

    <div class="title title-table">
        <h2 class="left-bar">
		    Invitation refusée
        </h2>
    </div>

    Vous avez refusé l'invitation.

</div>
{% endblock %}