Bonjour,

Une réponse a été apportée à votre demande : "{{ reponse.consultation.titre }}".

Pour la visualiser, cliquez <a href="{{ url('Organisme_consultation_reponse', { 'id' : reponse.id }) }}">ici</a>

Cordialement,
L'équipe de mise en concurrence.
