<p>Bonjour,</p>

<p>
    L'organisme {{ consultation.organisme.nom  }} a annulé la consultation intitulé "{{ consultation.titre }}".
    Il est donc inutile de lui transmettre une proposition. Veuillez nous excuser pour ce contre temps.
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>
