<p>Bonjour,</p>

<p>
    Votre proposition n’a pas été sélectionnée pour cette consultation :  {{ consultation.titre }}.
    En tant que prestataire référencé sur le site mise-en-concurrence.com vous recevrez d’autres consultations,
    n’hésitez pas y répondre.
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>
