<p>Bonjour</p>

<p>
    <strong>Organisme : </strong> {{ reponse.consultation.organisme.nom }}<br/>
    <strong>Consultation : </strong> {{ reponse.consultation.titre }}
</p>

<p>
    Félicitation votre proposition a été sélectionnée pour l’opération visée ci-dessus. Veuillez contacter le
    commanditaire pour démarrer votre prestation.
</p>

<p>
	Pensez à transmettre à l'organisme une version papier du devis
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>

