<p>Bonjour,</p>

<p>Une réponse a été apportée à votre demande : "{{ reponse.consultation.titre }}"</p>

<p>Pour la visualiser, cliquez <a href="{{ url('Organisme_consultation_reponse', { 'id' : reponse.id }) }}">ici</a></p>

<p>
    Cordialement,<br/>
    L'équipe de mise en concurrence.
</p>
