<p>Bonjour,</p>

<p>
    L'organisme {{ question.reponse.consultation.organisme.nom }} a répondu à votre question,
    vous pouvez la consulter en vous connectant sur le site "mise-en-concurrence.com".
</p>

<p>
    Cordialement, <br/>
    L'équipe de Mise-en-concurrence
</p>

