{% extends '::base.html.twig' %}

{% block body %}
    <div class="inner">
        <div class="prefix_1">
            <p>
                Pour valider l'inscription, vous devez confirmer votre adresse email. <br/>
                Pour cela, un email vous a été envoyé. Veuillez consulter votre boîte e-mail et cliquer sur le lien.
            </p>
        </div>
    </div>
{% endblock %}
